* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variable */
:root {
  /* ### Primary */
  --Linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
  --input-error: hsl(0, 100%, 66%);

  /* ### Neutral */
  --White: hsl(0, 0%, 100%);
  --Light-grayish-violet: hsl(270, 3%, 87%);
  --Dark-grayish-violet: hsl(279, 6%, 55%);
  --Very-dark-violet: hsl(278, 68%, 11%);
}

body {
  font-family: "Space Grotesk", sans-serif;
}

p,
input {
  font-size: 1.125rem;
  color: var(--Light-grayish-violet);
}

.hero {
  max-width: 90rem;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 48.68rem) {
  .hero {
    height: 100vh;
    display: flex;
  }
}

/* card component styles */

.card {
  background-color: var(--Very-dark-violet);
  height: 15rem;
  position: relative;
  padding: 1rem;
}

.card__wrapper {
  width: 80%;
  height: 10rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  padding: 1rem;
}

.card__back {
  background-image: url("./images/bg-card-back.png");
  right: 1rem;
}

.card__front {
  background-image: url("./images/bg-card-front.png");
  bottom: -3rem;
}

.card__cvc {
  position: absolute;
  top: 4.4rem;
  right: 2.7rem;
  color: var(--White);
  font-size: 1rem;
}

.logo {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
}

.card__front__Info {
  color: var(--White);
  font-size: 18px;
  margin-top: 1rem;
}

.card__front__info_bottom {
  padding-top: 0.8rem;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__front__info_bottom span:first-child {
  text-transform: uppercase;
}

@media screen and (min-width: 29.25rem) {
  .card {
    height: 17rem;
  }

  .card__wrapper {
    height: 12rem;
    width: 25rem;
  }

  .card__cvc {
    top: 5.2rem;
  }
}

@media screen and (min-width: 39.63rem) {
  .card__back {
    right: 3rem;
  }

  .card__front {
    left: 3rem;
  }
}

@media screen and (min-width: 48.68rem) {
  .card__back {
    right: 6rem;
  }

  .card__front {
    left: 6rem;
  }
}

@media screen and (min-width: 48.68rem) {
  .card {
    height: auto;
    flex: 0.4;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .card__container {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    right: -7rem;
  }

  .card__wrapper {
    position: relative;
    width: 20rem;
  }

  .card__back {
    left: 0;
    margin-top: 1rem;
  }

  .card__front {
    left: 0;
    bottom: auto;
    margin-left: -4rem;
  }
}

/* form component */

.form__wrapper {
  padding: 6rem 1rem 1rem;
}

form > div {
  margin-bottom: 1.3rem;
}

form div > label {
  display: block;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: var(--Very-dark-violet);
  font-weight: bold;
  font-size: 0.8rem;
}

input {
  display: block;
  width: 100%;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  outline: none;
  border: 1px solid var(--Light-grayish-violet);
  color: var(--Very-dark-violet);
}

input:focus {
  color: var(--Very-dark-violet);
}

.card__exp__Info,
.card__exp__period {
  display: flex;
  gap: 1rem;
}

.card__exp__period {
  gap: 0.5rem;
}

.card__expDate__details {
  flex: 0.5;
}

.card__cvc_input {
  flex: 0.6;
}

.error-msg {
  font-size: 0.8rem;
  color: var(--input-error);
  display: block;
}

.error-msg.show {
  opacity: 1;
  visibility: visible;

  -webkit-animation: shake 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}

.btn {
  background-color: var(--Very-dark-violet);
  width: 100%;
  padding: 1rem;
  outline: none;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 0.5rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  filter: opacity(0.3);
}

@media screen and (min-width: 39.63rem) {
  .form__wrapper {
    padding: 6rem 3rem 1rem;
  }

  .card__front__Info {
    position: absolute;
    bottom: 2rem;
    width: calc(100% - 2rem);
  }
}

@media screen and (min-width: 48.68rem) {
  .form__wrapper {
    padding: 6rem 6rem 1rem;
  }
}

/* desktop screen style */
@media screen and (min-width: 48.68rem) {
  .form__wrapper {
    flex: 0.6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0rem 1rem 0rem 8rem;
  }

  form {
    max-width: 25rem;
    width: 100%;
  }
}

/* completed  */

.completed {
  text-align: center;
  max-width: 25rem;
  width: 100%;
  margin: 0 auto;
}

.completed img {
  width: 4rem;
  height: 4rem;
}

.completed h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 2rem 0 1rem;
  font-weight: 400;
}

.completed p {
  margin-bottom: 3rem;
  color: var(--Dark-grayish-violet);
}

.completed button {
  width: 100%;
}
